.cm-s-obsidian .cm-inline-code:not(.cm-formatting) {
    background-color: rgb(235, 241, 255);
    color: rgb(0, 0, 0);
}

.markdown-source-view.mod-cm6 .cm-line {
    position: sticky;
}
.cm-s-obsidian span.cm-quote {
    color: rgb(131, 136, 141);
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
    border-radius: var(--radius-s);
    background-color: aliceblue;
}
